{% extends "base_generic.html" %}
{% block title %}
    <title>Данные</title>
{% endblock %}
{% block navbar%}
    <nav class="nav nav-pills navigation">
      {% if user.is_authenticated %}
        <a class="nav-link active" href="/">Все данные</a>
        <a class="nav-link" href="./add_dataset/">Загрузить новые данные</a>
        <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
      {% else %}
        <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Войти</a>
        <a class="nav-link" href="{% url 'register'%}?next={{request.path}}">Регистрация</a>  
      {% endif %} 
    </nav>
    {% endblock %}
{% block content %}
<h2 class= "title">Загруженные данные</h2>
{% if dataset_list %} 
    <div class= "flex">
      {% for dataset in dataset_list %}
        <div class="dataset-card card">
          <div class= "card-body">
            <h4 class= "dataset-title">{{ dataset.title }}</h4>
            <p class="description">{{ dataset.description }}<p>
          </div>
          <a class= "btn btn-info options" href="{% url 'dataset_detail' pk=dataset.pk %}">Открыть датасет</a>
          <a class= "btn btn-info options" href="{% url 'delete_dataset' pk=dataset.pk %}" onclick="return confirm('Подтвердите удаление');">Удалить датасет</a>
          <div class="date text-muted">
            {{dataset.date}}
          </div>
          </div>
      {% endfor %}
    </div>
{% endblock %}
