{% extends "base_generic.html" %}
{% block title %}
    <title>Модели</title>
{% endblock %}
{% block content %}
  <a class= "btn btn-primary" href="{% url 'dataset_detail' pk=dataset_pk %}">Назад к данным</a>
  <a class= "btn btn-primary" href="{% url 'add_model' pk=dataset_pk %}">Создать новую модель</a>
  <h4 class= "title">Модели</h4>
  {% if models %} 
    <div class= "flex">
      {% for dataModel in models %}
        <div class="card" style="width: 25%;">
          <div class= "card-body">
            <p>Тип: {{ dataModel.modelType }}</p>
            <p>Дата создания: {{dataModel.date}}</p>
          </div>
        <a class= "btn btn-info options" href="{% url 'model_detail' pk=dataModel.pk %}">Детали</a>
        <a class= "btn btn-info options" href="{% url 'delete_model' pk=dataModel.pk %}" onclick="return confirm('Подтвердите удаление');">Удалить</a>
        </div>
      {% endfor %}
    </div>
    {% else %}
    <p>Нет моделей для этого датасета.</p>
    {% endif %}  
{% endblock %}
    