{% extends "base_generic.html" %}

{% block title%}<title>Визуализация данных</title>{% endblock %}
{% block content %}
{% if owner == user %}
<a class= "btn btn-primary" href= "{% url 'dataset_detail' pk=pk %}">Назад к данным</a></br>
<div class="flex">
  <section class= "dataset-info card" style="width: 35%;">
    <div class= "card-body">
      <p>Название: {{ title }}</p>
      <p>Описание: {{ description }}</p>
      <p>Дата загрузки: {{date}}</p>
      <p>Тут будет описание метода главных компонент.</p>
    </div>
  </section>
  <section class= "dataset-info card" style="width: 65%;">
    <div class= "card-body">
      <canvas id="scatter" width="400" height="400"></canvas>
      <canvas id="scatter__normalized" width="400" height="400"></canvas>
    </div>
  </section>  
</div>
{% else %}
<p>У Вас нет прав на просмотр этих данных.</p>
{% endif%}
{% endblock %}
{% block javascript %}
<script>
  var endpoint1 = "{% url 'data' pk=pk %}";
  let chart_data = [];
  $.ajax({
    method: "GET",
    url: endpoint1,
    success: function(data){
      chart_data = JSON.parse(data);
      drawChart(chart_data.standard, 'scatter', 'Без предварительного нормирования');
      drawChart(chart_data.normalized, "scatter__normalized", "С нормированием");
    },
    error: function(error_data){
      console.log("error");
      console.log(error_data);
    }
  })
  function drawChart(data, id, label ) {
    let plot1 = document.getElementById(id);
    colors = ['#FF0000', '#006400', '#000080', 
     '#800000',  '#00FFFF', '#FFFF00', '#000000', '#FF00FF'] 
    let chartData = data;
    for (let i = 0; i < data.datasets.length; i++) {
      let color = (i < colors.length) ? colors[i] : ("#"+((1<<24)*Math.random()|0).toString(16)); 
      chartData.datasets[i].backgroundColor = color;
    }
    let scatterChart = new Chart(plot1, {
      type: 'scatter',
      data: chartData,
      options: {
          scales: {
              xAxes: [{
                  type: 'linear',
                  position: 'bottom'
              }]
          },
          title: {
            display: true,
            text: label,
            fontSize: 20
        }
      }
    });
    
  }
  
  
</script>
{% endblock %}