.content {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  position: relative
}

body {
  padding: 20px 40px;
  
}

p {
  text-align: justify;
  font-size: 16px;
}

.title {
  margin: 20px 0px;
}

.dataset-card {
  margin: 15px 0px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: inline-block;
    cursor: pointer;
}

.fa-upload {
  margin-right: 5px;
}

.options {
  margin: 5px 20px;
}
ol {
  margin-left: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

div.btn-move {
  align-items:center;
  justify-content: center;
  margin: 0px 10px;
}

button.btn-move + button.btn-move {
  margin-top: 5px;
}

.features {
  height: auto;
  width: 20em;
  max-height: 20em;
  overflow-x: hidden;
}

.set_columns {
  width: 70%;
}

.set_columns > div {
  justify-content: space-around;
}

.data-table {
  overflow-y: auto;
  height: 400px;
  margin-top: 15px;
}

th, td {
  text-align: center !important;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

canvas {
  margin: 10px;
}

