.content {
  margin-top: 50px;
}

body {
  padding: 20px 40px;
}

.title {
  margin: 20px 0px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: inline-block;
    cursor: pointer;
}

.fa-upload {
  margin-right: 5px;
}

.options {
  margin: 5px 20px;
}
ol {
  margin-left: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  /* margin: 20px 0px; */
}

.flex-column {
  flex-direction: column;
}

div.btn-move {
  align-items:center;
  justify-content: center;
  margin: 0px 10px;
}

button.btn-move + button.btn-move {
  margin-top: 5px;
}

.features {
  height: auto;
  width: 20em;
  max-height: 15em;
  overflow-x: hidden;
}

.table {
  margin-top: 10px;
}



